<h1>Vista de Productos</h1>
<% if(tieneProductos) { %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <% productos.forEach(function(prod) { %>
    <tr>
      <td><%= prod.title %></td>
      <td><%= prod.price %></td>
      <td><img src="<%= prod.thumbnail %>" alt="<%= prod.title %>"/></td>
    </tr>
    <% });%>
  </tbody>
</table>
<% } else { %>
<p>No se encontraron productos</p>
<% } %>

<a href="/">Nuevo Producto</a>