<h1>Ingrese Producto</h1>
<form action="/productos" method="post">
  <label for="title">Nombre</label>
  <input type="text" name="title" id="title" />
  <label for="price">Precio</label>
  <input type="number" name="price" id="price" />
  <label for="thumbnail">Foto URL</label>
  <input type="text" name="thumbnail" id="thumbnail" />
  <button type="submit" name="save" id="save">Enviar</button>
</form>

<a href="/productos">Productos</a>