h1 Vista de Productos
if tieneProductos
    table
        thead
            tr
                th Nombre
                th Precio
                th Foto
        tbody
            each prod in productos
                tr
                    td= prod.title
                    td= prod.price
                    td 
                        img(src= prod.thumbnail alt= prod.title)
else
    p No se encontraron productos

a(href="/") Nuevo Producto